body {
  margin: 50px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue);
    }

    h1 {
     color: white;
font-family: 'Grenze', serif;
     font-size: 75px;
     font-style: 400;
 }

 h3 {

 color: black;
font-family: 'Grenze', serif;
 font-size: 40px;
 font-style: 400;
 }
.dropdown {

    color: white;
font-family: 'Grenze', serif;
    font-size: 40px;
    font-style: 400;
}
.dropdown-content {
font-family: 'Grenze', serif;
    color: black;

    font-size: 20px;
}
