body {
    margin: 100px;
    background-color: #568c8e;

}
h1 {
 color: #33ff78;
 text-align: center;
 font: italic 200% helvetica;
}
.grow:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.shrink:hover {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}
.rotate:hover{
        -webkit-transform: rotateZ(-3deg);
        -ms-transform: rotateZ(-3deg);
        transform: rotateZ(-3deg);
}
h2 {
color: #5cf991;
text-align: center;
font: italic 150% helvetica;
}
h3 {
    color: #33ff78;
    text-align: center;
    font: italic 100% helvetica;
}
.bodytext {
    padding-top: 50px;
 padding-right: 0px;
 padding-bottom: 50px;
 padding-left: 500px;
 font-size: 15pt;
 font: italic helvetica;
 color: white;
    }
