body {
    font-family: 'Press Start 2P', cursive;
    background-color: #92f18b;
}
.img {
 background: #e97ed5;
   padding:12px;
   border:1px solid #999;
   width: 400px;
   height: 300px;
}
h1 {
  letter-spacing: 8px;
}

h2 {
  letter-spacing: 2px;
  color: #e97ed5;
}

h3 {
  letter-spacing: 1px;
}
div.a {
  font-size: 25px;
}

div.b {
  font-size: 25px;
}
.lists {
    background-color: #e97ed5;
    margin: 25px;
    width: 35%;
    color: white;
    line-height: 50px;
}
