body {
	height: 100vh;
	margin: 0;
	font-family: "ubuntu", Arial, sans-serif;
	overflow-x: hidden;
	display: grid;
    background-image: url(https://media.giphy.com/media/3o7TKReSzYen1BI2Pe/source.gif);
    color: white;
}


@font-face {
    font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 300;
}



.wrapper {
		color: #fff;
		font-size: 92px;
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
        background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        animation-name: text;
        animation-fill-mode: forwards;
        animation-duration:1.5s linear infinite;
		display: inline-block;
	}
}

@keyframes text; {
	to {
		background-position: 50% center;
	}
