body {

    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.gradient-multiline {
  position: relative;
  width: 400px;
  margin: 40px auto;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  overflow:hidden;
}

.gradient {
    font-family: 'Big Shoulders Display', cursive;
  position: relative;
  width: 400px;
  margin: 40px auto;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  overflow:hidden;
  background: rgb(2,0,36);
background: linear-gradient(90deg, #52b363 0%, #d55689 35%, #60d250 100%);
}

.gradient-multiline span {
  color: #fff;
  background-color: #000;
}

@supports(mix-blend-mode: lighten) {

  .gradient-multiline::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #3629a2, #00ceff);

    mix-blend-mode: lighten;
  }

}
